html, body{
background-image: linear-gradient(-45deg, #6698CB 25%, #8298CB 25%, #8298CB 50%, #6698CB 50%, #6698CB 75%, #8298CB 75%, #8298CB);
background-size: 14px 14px;
margin: 0px;
height: 100%;
width:100%;
min-width:1280px;
overflow:hidden;
}



#mainframe {

background: url(illo/desert23.svg)no-repeat;

margin-top:0%;
margin-bottom:auto;
width:70%;
height:93%;
min-width:500px;
margin-left: auto;
margin-right: auto ;
min-width:1280px;
padding:0;


}
#mainframe2 {
z-index:30;
background: transparent;
position:absolute;
margin-top:0%;
margin-bottom:auto;
width:70%;
height:93%;
min-width:500px;
margin-left: auto;
margin-right: auto ;
min-width:1280px;
padding:0;
pointer-events:none;

}

#eight-ball{
top:-195px;
left:459px;
position:relative;
width:58px;
height:34px;
cursor:hand;
}


#button1 {
		z-index:6;
background: url(illo/button.svg)no-repeat;
background-size:100%;
display: block;
cursor: hand;    cursor: pointer;  
border-style:none;

width:inherit;
height:inherit;
}

#bubble {
	opacity:0;
	z-index:2;
background: url(illo/bubble.svg) center center no-repeat;
background-size:100%;
display: block;
    position:relative;
border-style:none;
left:300px;
top:4px;
width:522px;
height:505px
}


.bubbleStill {
	opacity:0;
	z-index:2;
background: url(illo/bubble.svg) center center no-repeat;
background-size:100%;
display: block;
    position:relative;
border-style:none;
left:300px;
top:4px;
width:522px;
height:505px
}

.bubbleExploading {
	opacity:0;
	z-index:123;
background: url(illo/bubble.svg) center center no-repeat;
background-size:100%;
display: block;
    position:relative;
border-style:none;
left:300px;
top:4px;
width:522px;
height:505px

transform-origin: bottom center;
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;

	animation-name: xploading;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
   
    animation-fill-mode: forwards;


    -webkit-animation-name: xploading;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
  
    -webkit-animation-fill-mode: forwards; 

    -moz-animation-name: xploading;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
  
    -moz-animation-fill-mode: forwards; 
}

@keyframes xploading {
    0% {opacity:0; transform: scale(0.1,0.1);} 
    8% {opacity:1; transform: scale(1,1);}   
       85% {opacity:1; transform: scale(1.2,1.2);}
         100% {opacity:0; transform: scale(2,2);}
}


#bubbleHugecat {
pointer-events:none;
opacity:0;
z-index:136;
background: url(illo/cathead.png) center center no-repeat;
background-size:100%;
display: block;
position:absolute;
border-style:none;
left:430px;
top:30px;
width:420px;
height:420px

}


#bubbleHugecatrays {
pointer-events:none;
opacity:0;
z-index:123;
background: url(illo/cathead_rays.svg) center center no-repeat;
background-size:100%;
display: block;
position:absolute;
border-style:none;
left:100px;
top:-300px;
width:1080px;
height:1080px;
transform-origin: center center;
-webkit-transform-origin: center center;
-moz-transform-origin: center ;
 -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }






.sign {
z-index:124;
background: url(illo/sign.svg) center center no-repeat;
background-size:100%;
text-align:center;
    position:relative;
border-style:none;
left:660px;
top:-62px;
width:462px;
height:256px
}

#question
{
	padding-top:17px;
	word-wrap: break-word;
   width: 400px;
font-size:16pt;
text-transform: uppercase;
font-weight:bold;
position:relative;
max-width: 500px;
}

#answer
{
	word-wrap: break-word;
   width: 400px;
	font-style:;
text-transform: uppercase;
color:brown;
font-size:16pt;
font-weight:bold;
position:relative;
max-width: 500px;
}


#smokedear {

}

.smokestill {
	opacity:0;
	z-index:12;
background: transparent;
background-size:100%;
display: block;
position:relative;
border-style:none;
left:525px;
top:46px;
width:58px;
height:206px;
}


.smoke {
	opacity:1;
	z-index:12;
background: url(illo/smoke.svg) center center no-repeat;
background-size:100%;
display: block;
position:relative;
border-style:none;
left:525px;
top:46px;
width:58px;
height:206px;

transform-origin: bottom center;
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;

	animation-name: smoke;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;   
    animation-fill-mode: forwards;


    -webkit-animation-name: smoke;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;  
    -webkit-animation-fill-mode: forwards; 

    -moz-animation-name: smoke;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;  
    -moz-animation-fill-mode: forwards; 
}

@-moz-keyframes smoke {
 0% { opacity:0; transform: scale(0.4,0.4); } 
 3% { opacity:1;  transform: scale(1,1);} 
100% { opacity:0;  transform: scale(2.5,1.5);} 

}

@-webkit-keyframes smoke { 
	0% { opacity:0;  transform: scale(0.4,0.4);} 
	 3% { opacity:1;  transform: scale(1,1);} 
	 100% { opacity:0;  transform: scale(2.5,1.5);} 

}
@keyframes smoke { 
	0% { opacity:0; transform: scale(0.4,0.4); }
	 3% { opacity:1;  transform: scale(1,1); } 
	 100% { opacity:0;  transform: scale(2.5,1.5); } 

	 }


#rocketdear{

}


.rocketstill {
	opacity:0;
	z-index:13;
background: transparent;

display: block;
position:relative;
border-style:none;
left:510px;
top:320px;
width:31px;
height:138px;
transform:rotate(15deg);
}

.rocket {
	opacity:1;
	z-index:13;
background: url(illo/rocket.svg) center center no-repeat;

display: block;
position:relative;
border-style:none;
left:510px;
top:320px;
width:31px;
height:138px;
transform:rotate(15deg);

transform-origin: bottom center;
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;

	animation-name: rocket;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

    animation-fill-mode: forwards;


    -webkit-animation-name: rocket;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
 
    -webkit-animation-fill-mode: forwards; 

    -moz-animation-name: rocket;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: 1;
  
    -moz-animation-fill-mode: forwards; 
}

@-moz-keyframes rocket {
 100% { -moz-transform: translate(120px, -600px); } 

}

@-webkit-keyframes rocket { 
	100% { -webkit-transform: translate(120px, -600px); } 

}
@keyframes rocket { 
	100% { transform:translate(120px, -600px); }

	 }


#launchsmokedear {

}

.launchsmokestill {
	opacity:0;
	z-index:15;
background: transparent;
background-size:100%;
display: block;
position:relative;
border-style:none;
left:362px;
top:30px;
width:303px;
height:167px;
}

.launchsmoke {
	opacity:1;
	z-index:15;
background: url(illo/launchsmoke.svg) center center no-repeat;
background-size:100%;
display: block;
position:relative;
border-style:none;
left:362px;
top:30px;
width:303px;
height:167px;

transform-origin: bottom center;
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;

	animation-name: launchsmoke;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;   
    animation-fill-mode: forwards;


    -webkit-animation-name: launchsmoke;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;  
    -webkit-animation-fill-mode: forwards; 

    -moz-animation-name: launchsmoke;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;  
    -moz-animation-fill-mode: forwards; 
}

@-moz-keyframes launchsmoke {
 0% { opacity:0; transform: scale(0.4,0.4); } 
 2% { opacity:1;  transform: scale(1,1);} 
100% { opacity:0;  transform: scale(1.5,1.5);} 

}

@-webkit-keyframes launchsmoke { 
	0% { opacity:0;  transform: scale(0.4,0.4);} 
	 2% { opacity:1;  transform: scale(1,1);} 
	 100% { opacity:0;  transform: scale(1.5,1.5);} 

}
@keyframes launchsmoke { 
	0% { opacity:0; transform: scale(0.4,0.4); }
	 2% { opacity:1;  transform: scale(1,1); } 
	 100% { opacity:0;  transform: scale(1.5,1.5); } 

	 }


.rainframe3 {
z-index:30;
background:#0D343A;
background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);
position:absolute;
margin-top:0%;
margin-bottom:auto;
width:70%;
height:93%;
min-width:500px;
margin-left: auto;
margin-right: auto ;
min-width:1280px;
padding:0;
pointer-events:none;

}

.drop {

	z-index:20;
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(110,128,150,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(110,128,150,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:39px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .4s linear infinite;
  -moz-animation: fall .4s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:600px;}
}
@-moz-keyframes fall {
	to {margin-top:600px;}
}

.dropNone {

	z-index:20;
  background:transparent;
	width:1px;
	height:39px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .4s linear infinite;
  -moz-animation: fall .4s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:600px;}
}
@-moz-keyframes fall {
	to {margin-top:600px;}
}

#bottommask {

z-index:125;
background-image: linear-gradient(-45deg, #6698CB 25%, #8298CB 25%, #8298CB 50%, #6698CB 50%, #6698CB 75%, #8298CB 75%, #8298CB);
background-size: 14px 14px;
position:relative;
margin-top:160%;
margin-bottom:auto;
width:70%;
height:400px;
min-width:500px;
margin-left: -470px;
margin-right: auto ;
width:1296px;
padding:0;
pointer-events:none;

}

#topmask {

z-index:122;
background-image: linear-gradient(-45deg, #6698CB 25%, #8298CB 25%, #8298CB 50%, #6698CB 50%, #6698CB 75%, #8298CB 75%, #8298CB);
background-size: 14px 14px;
position:relative;
margin-top:0px;
margin-bottom:auto;
height:50px;

margin-left: 281px;
margin-right: auto ;
width:1288px;
padding:0;
pointer-events:none;

}